.product {

    &-content {
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }
    &-thumb img {
        width: 267px;

    }
}