.item {
    &-content {
        color: #0f1111;
        background-color: #ffffff;
        // display: flex;
        // justify-content: space-between;

        // gap: 10px;
        margin-top: 10px;
        border: 1px solid #eaeded;
    }
    &-price {
        display: flex;
        align-items: center;
        gap: 4px;
    }
    &-original {
        text-decoration: line-through;
    }
    &-saleprice {
        font-size: 35px;
        font-weight: 500;
    }

    &-saleprice sup {
        font-size: 1rem;
    }
    &-discount {
        font-size: 32px;
        color: #cc0c39;
        font-weight: 300;
    }
    &-image {
        position: relative;
        // display: flex;
        // align-items: center;
        background-color: #f8f8f8;
        background-blend-mode: multiply;
        height: 218px;
    }
    &-thumb {
        background-blend-mode: multiply;
        background-color: #f8f8f8;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        max-height: 100%;
    }
    &-thumb img {
        background-color: #f8f8f8;

        display: block;
        margin-bottom: auto;
        margin-top: auto;
        max-width: 100%;
        max-height: 100%;
    }
    @include maxw(768px) {
        &-thumb img {
            width: 180px;
            height: 100px;
        }
    }
    @include maxw(500px) {
        &-image {
            height: 150px;
        }
    }
    @include maxw(425px) {
        &-saleprice {
            font-size: 25px;
            font-weight: 500;
        }
        &-info {
            overflow: hidden;
        }
        &-saleprice sup {
            font-size: 1rem;
        }
        &-discount {
            font-size: 22px;
            color: #cc0c39;
            font-weight: 300;
        }
        &-thumb img {
            width: 100px;
            height: 70px;
        }
    }
}
