.cartCheckout {
    margin-top: 20px;
    &-checkout {
        width: 100%;
        //    text-align: center;
        padding: 7px 0px;
        border-radius: 20px;
        margin-top: 10px;
        border: none;
        background-color: #ffd814;
        &:hover {
            background-color: #f7ca00;
        }
    }
}
