.dashboard {
    margin-top: 50px;
    &-list {
        display: flex;
        margin-top: 105px;
    }
    &-statistic {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    &-statistic-box {
        border-radius: 20px;
        padding: 30px 30px;
        background-color: blanchedalmond;
        display: flex;
        align-items: center;
        gap: 70px;
    }
}