.productfeed {
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
   &-box {
       position: relative;
       z-index: 100;
       padding: 20px;
       background-color: #FFFFFF;
       width: 350px;
       height: 420px;
       background-color: linear-gradient( t0 bottom, transparent ,#eaeded, 30% );;
       overflow: hidden;
       border: 1px solid #eaeded;
   }
   &-card1 {
     margin-left: -6px;
       margin-top: -250px;
   }
   &-card2{
 margin-left: -6px;
       margin-top: 20px;
   }
    &-boxauth {
     height: 150px;
        padding: 20px;
       background-color: #FFFFFF;
         position: relative;
       z-index: 100;
   }
   &-login {
    cursor: pointer;
  margin-top: 20px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #FFD814;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  &:hover {
    opacity: 0.6;
    transition: ease-in 0.3;
  }
  &:active {
    outline: none;
    background-color: #FFEB3B;   }

  }
   &-products {
  display: grid;
       grid-template-columns: 1fr 1fr;
       margin: auto;
    }
    &-image {
        width: 160px;
        height: 100px;
        margin-top: 20px;
        border: none;
   }
   &-thumbnail {
    margin-top: 20px;
    width: 310px;
    z-index: 100;
    position: relative;
   }
   &-img {
    object-fit: contain;
    margin-top: 13px;
    width: 310px;
    z-index: 100;
    position: relative;
      display: block;
    margin-left: auto;
  margin-right: auto;
   }
   &-product span {
       margin-left: 50px;
   }
   &-text {
margin-top: 15px;
   }
}