.navbar {
    padding: 10px 0;
    &-left {
        display: flex;
        // justify-content: center;
        align-items: center;
    }
    &-logo {
        width: 87px;
        height: 43px;
    }
    &-location {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 15px;
    }

}