.manageProduct {
    margin-top: 50px;
   

   &-item div {
    border-bottom: 1px solid grey;
    padding: 5px 0;
    font-size: 1.6rem;
   }
    &-submit {
        margin-top: 30px;
        width: 200px;
    }
}