:root {
    --main-bg: #ffffff;
    --second-bg: #fafafb;
    --txt-color: #455560;
    --txt-white: #fff;
    --main-color: #349eff;
    --second-color: #62b4ff;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    --main-bg-light: #ffffff;
    --second-bg-light: #fafafb;
    --txt-color-light: #455560;
    --box-shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    --main-bg-dark: #2d2d2d;
    --second-bg-dark: #202020;
    --txt-color-dark: #bbbbbb;
    --box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 5px 10px;

    --main-color-blue: #349eff;
    --second-color-blue: #62b4ff;

    --main-color-red: #fb0b12;
    --second-color-red: #ff4a6b;

    --main-color-cyan: #10d4d2;
    --second-color-cyan: #2ae9e6;

    --main-color-green: #019707;
    --second-color-green: #4caf50;

    --main-color-orange: #d68102;
    --second-color-orange: #fca11a;

    --sidebar-width: 300px;
    --border-radius: 15px;
    --topnav-height: 110px;
    --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

* {
    font-family: "Amazon Ember",Arial,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
  font-size: 62.5%;
}
// .background {
//   background-color: rgb(234, 237, 237);
// }
ul {
    list-style-type: none;
    display: inline;
}
li {
  cursor: pointer;
}
.none {
  display: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  max-width: 1530px;
  margin: 0 auto;
  padding: 0 15px;
}
.hover {
  &:hover{
    border: 1px solid white;
     transition: ease 0.3s;
     border-radius: 3px;

  }
}
.cardAdmin {
    padding: 30px;
    margin-bottom: 30px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.error {
  color: red;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background {
    background-color: #fafafa; 
    background-color: rgba(var(--b3f,250,250,250),1); 

}
.link {
    color: #0095f6;
    color: rgba(var(--d69,0,149,246),1);
  }
button {
  cursor: pointer;
}
.vh {
  height: 100vh;
}
.button {
    display: inline-block!important;
    border: 1px solid #848688;
    border-radius: 3px;
    padding: 6px 10px 6px 8px;
    font-size: 13px;
    margin-right: 4px;
}
.buttonAdmin a {
      border-radius: var(--border-radius);
    background-image: linear-gradient(to right, var(--main-color), var(--second-color));
    color: var(--txt-white);
    text-align: center;
    padding: 10px 20px;
}
progress {
  -webkit-appearance: none;
}

::-webkit-progress-value {
  background-color: #FFA41C;
  box-shadow: inset -2px 0 0 -1px #f5961d, inset 0 0 0 1px #de7921;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

::-webkit-progress-bar {
  background-color: #F0F2F2;
}

